body{

    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color:black;
}

header {

    margin-left:auto;
    margin-right: auto;
    
    width:800px;
}